<div class='ac2preview accountingproperties'><p>Starter Company Banana</p>
<p>Basic Currency: CAD</p>
<p>Double-entry with VAT/Sales tax</p>
</div><table class='ac2preview'><caption>Accounts</caption><tr>
<th>Group</th>
<th>Account</th>
<th>Description</th>
<th>Gr</th>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>BALANCE SHEET</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>ASSETS</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>11200</td>
<td>Bank Account</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>11300</td>
<td>Petty Cash</td>
<td>1</td>
</tr>
<tr><td>10</td>
<td>&nbsp;</td>
<td>Accounts Receivable</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>12200</td>
<td>Allowance for Bad Debts</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>12400</td>
<td>Accounts Receivable - Other</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>12500</td>
<td>Due from Shareholder</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>12600</td>
<td>Due from Employees</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>12700</td>
<td>Investments</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>12800</td>
<td>Income Taxes Recoverable</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>12850</td>
<td>Sales Taxes Recoverable</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>13000</td>
<td>Inventory</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>14000</td>
<td>Prepaid Expenses</td>
<td>1</td>
</tr>
<tr><td>&nbsp;</td>
<td>14100</td>
<td>Prepaid Deposits</td>
<td>1</td>
</tr>
<tr><td>1</td>
<td>&nbsp;</td>
<td>Total Current Assets</td>
<td>100</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>15110</td>
<td>Furniture and Equipment</td>
<td>2</td>
</tr>
<tr><td>&nbsp;</td>
<td>15120</td>
<td>Furn. & Equip. - Acc. Am.</td>
<td>2</td>
</tr>
<tr><td>&nbsp;</td>
<td>15210</td>
<td>Computer Equipment</td>
<td>2</td>
</tr>
<tr><td>&nbsp;</td>
<td>15220</td>
<td>Computer Equip. - Acc. Am.</td>
<td>2</td>
</tr>
<tr><td>&nbsp;</td>
<td>15310</td>
<td>Vehicle</td>
<td>2</td>
</tr>
<tr><td>&nbsp;</td>
<td>15320</td>
<td>Vehicle - Acc. Am.</td>
<td>2</td>
</tr>
<tr><td>2</td>
<td>&nbsp;</td>
<td>Total Long Term Assets</td>
<td>100</td>
</tr>
<tr><td>100</td>
<td>&nbsp;</td>
<td>TOTAL ASSETS</td>
<td>00</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>LIABILITIES & EQUITY</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>LIABILITIES</td>
<td>&nbsp;</td>
</tr>
<tr><td>20</td>
<td>&nbsp;</td>
<td>Accounts Payable</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>22200</td>
<td>Accrued Liabilities</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>22300</td>
<td>Accounts Payable - Other</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>22400</td>
<td>Visa payable</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>23500</td>
<td>HST Charged on Sales</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>23510</td>
<td>HST Paid on Purchases</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>23520</td>
<td>HST Instalments</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>23530</td>
<td>HST Payable</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>23600</td>
<td>PST Payable</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>23700</td>
<td>GST & QST Payable</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>23800</td>
<td>Accrued Payroll</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>23900</td>
<td>Source Deductions Payable</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>24000</td>
<td>Corporate Tax Payable - Fed.</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>24100</td>
<td>Corporate Tax Payable - Prov.</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>25300</td>
<td>Line of Credit</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>25400</td>
<td>Due to Shareholder</td>
<td>3</td>
</tr>
<tr><td>&nbsp;</td>
<td>25900</td>
<td>Current Portion of Debt - ST</td>
<td>3</td>
</tr>
<tr><td>3</td>
<td>&nbsp;</td>
<td>Total Current Liabilities</td>
<td>200</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>26200</td>
<td>Term Loan</td>
<td>4</td>
</tr>
<tr><td>&nbsp;</td>
<td>26300</td>
<td>Current Portion of Debt - LT</td>
<td>4</td>
</tr>
<tr><td>4</td>
<td>&nbsp;</td>
<td>Total Long Term Liabilities</td>
<td>200</td>
</tr>
<tr><td>200</td>
<td>&nbsp;</td>
<td>Total Liabilities</td>
<td>300</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>EQUITY</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>31000</td>
<td>Common Shares</td>
<td>5</td>
</tr>
<tr><td>&nbsp;</td>
<td>38000</td>
<td>Retained Earnings</td>
<td>5</td>
</tr>
<tr><td>2991</td>
<td>&nbsp;</td>
<td>(Profit)/Loss for the period</td>
<td>5</td>
</tr>
<tr><td>&nbsp;</td>
<td>39000</td>
<td>Dividends</td>
<td>5</td>
</tr>
<tr><td>5</td>
<td>&nbsp;</td>
<td>Total Equity</td>
<td>300</td>
</tr>
<tr><td>300</td>
<td>&nbsp;</td>
<td>TOTAL LIABILITIES & EQUITY</td>
<td>00</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>INCOME STATEMENT</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>REVENUE</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>41100</td>
<td>Sales</td>
<td>6</td>
</tr>
<tr><td>&nbsp;</td>
<td>41900</td>
<td>Other Income</td>
<td>6</td>
</tr>
<tr><td>&nbsp;</td>
<td>44000</td>
<td>Exchange Gain/Loss</td>
<td>6</td>
</tr>
<tr><td>6</td>
<td>&nbsp;</td>
<td>TOTAL REVENUE</td>
<td>01</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>COST OF SALES</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>51100</td>
<td>Inventory - Opening</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>51200</td>
<td>Purchases</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>52000</td>
<td>Freight</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>52200</td>
<td>Inventory - Closing</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>52300</td>
<td>Direct Materials</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>52400</td>
<td>Subcontractors</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>55100</td>
<td>Salaries and Wages</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>55200</td>
<td>CPP Expense</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>55300</td>
<td>EI Expense</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>55400</td>
<td>WSIB Expense</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>55500</td>
<td>Benefit Plan</td>
<td>7</td>
</tr>
<tr><td>&nbsp;</td>
<td>55600</td>
<td>EHT Premiums</td>
<td>7</td>
</tr>
<tr><td>7</td>
<td>&nbsp;</td>
<td>Total  COST OF SALES</td>
<td>01</td>
</tr>
<tr><td>01</td>
<td>&nbsp;</td>
<td>GROSS MARGIN</td>
<td>02</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>EXPENSES</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>61050</td>
<td>Accounting</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61100</td>
<td>Advertising & Marketing</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61200</td>
<td>Amortization</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61400</td>
<td>Bad Debts</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61500</td>
<td>Bank Charges & Interest</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61550</td>
<td>Business Tax & Licences</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61600</td>
<td>Courier</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61620</td>
<td>Computing expenses</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61650</td>
<td>Consulting Fees</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61700</td>
<td>Dues & Subscriptions</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61800</td>
<td>Education & Training</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>61900</td>
<td>Equipment Rental</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62000</td>
<td>Insurance</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62100</td>
<td>Interest on Debt</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62200</td>
<td>Legal Fees</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62250</td>
<td>Management Salaries</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62300</td>
<td>Meals & Entertainment</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62400</td>
<td>Miscellaneous</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62500</td>
<td>Office Supplies</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62600</td>
<td>Rent</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>62700</td>
<td>Repairs & Maintenance</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>63100</td>
<td>Supplies</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>63200</td>
<td>Telephone & Internet</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>63300</td>
<td>Travel & Parking</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>63400</td>
<td>Utilities</td>
<td>8</td>
</tr>
<tr><td>&nbsp;</td>
<td>63500</td>
<td>Vehicle Expenses</td>
<td>8</td>
</tr>
<tr><td>8</td>
<td>&nbsp;</td>
<td>Total EXPENSES</td>
<td>02</td>
</tr>
<tr><td>02</td>
<td>&nbsp;</td>
<td>Income Before Income Taxes</td>
<td>03</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>Income Tax Provision</td>
<td>9</td>
</tr>
<tr><td>9</td>
<td>&nbsp;</td>
<td>Total Income Taxes</td>
<td>03</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>03</td>
<td>&nbsp;</td>
<td>NET (INCOME)/LOSS</td>
<td>2991</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>00</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>Customers/Debtors</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>100.A</td>
<td>Customer A</td>
<td>110A</td>
</tr>
<tr><td>&nbsp;</td>
<td>100.B</td>
<td>Customer B</td>
<td>110A</td>
</tr>
<tr><td>&nbsp;</td>
<td>100.C</td>
<td>Customer C</td>
<td>110A</td>
</tr>
<tr><td>&nbsp;</td>
<td>100.D</td>
<td>Customer D</td>
<td>110A</td>
</tr>
<tr><td>&nbsp;</td>
<td>100.E</td>
<td>Test client</td>
<td>110A</td>
</tr>
<tr><td>&nbsp;</td>
<td>CBRER</td>
<td>R J Sample Co</td>
<td>110A</td>
</tr>
<tr><td>110A</td>
<td>&nbsp;</td>
<td>Total Customers</td>
<td>10</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>Suppliers/Creditors</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>200.A</td>
<td>Supplier A</td>
<td>200A</td>
</tr>
<tr><td>&nbsp;</td>
<td>200.B</td>
<td>Supplier B</td>
<td>200A</td>
</tr>
<tr><td>&nbsp;</td>
<td>200.C</td>
<td>Supplier C</td>
<td>200A</td>
</tr>
<tr><td>&nbsp;</td>
<td>200.D</td>
<td>Supplier D</td>
<td>200A</td>
</tr>
<tr><td>&nbsp;</td>
<td>200.E</td>
<td>Supplier E</td>
<td>200A</td>
</tr>
<tr><td>200A</td>
<td>&nbsp;</td>
<td>Total Suppliers</td>
<td>20</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>Departments (CC1)</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>.OTT</td>
<td>Department 1</td>
<td>DE</td>
</tr>
<tr><td>&nbsp;</td>
<td>.TOR</td>
<td>Department 2</td>
<td>DE</td>
</tr>
<tr><td>DE</td>
<td>&nbsp;</td>
<td>Total Department Expenses</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>Projects (CC2)</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>,JOB1</td>
<td>Project 1</td>
<td>PR</td>
</tr>
<tr><td>&nbsp;</td>
<td>,JOB2</td>
<td>Project 2</td>
<td>PR</td>
</tr>
<tr><td>PR</td>
<td>&nbsp;</td>
<td>Total Projects</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>Other (CC3)</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>;OT-1</td>
<td>Other 1</td>
<td>OT</td>
</tr>
<tr><td>&nbsp;</td>
<td>;OT-2</td>
<td>Other 2</td>
<td>OT</td>
</tr>
<tr><td>OT</td>
<td>&nbsp;</td>
<td>Total Other</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
<table class='ac2preview'><caption>VAT codes</caption><tr>
<th>VAT Code</th>
<th>Description</th>
<th>%VAT</th>
</tr>
<tr><td>&nbsp;</td>
<td>Last update: Jan 14, 2016</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>HST/GST Charged</td>
<td>&nbsp;</td>
</tr>
<tr><td>7</td>
<td>HST charged on sales (included)</td>
<td>13.00</td>
</tr>
<tr><td>8</td>
<td>GST charged on sales (included)</td>
<td>5.00</td>
</tr>
<tr><td>17</td>
<td>HST charged on sales (tax entry only)</td>
<td>&nbsp;</td>
</tr>
<tr><td>18</td>
<td>GST charged on sales (tax entry only)</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Total HST/GST charged on Sales</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Total HST/GST Charged</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>HST Paid</td>
<td>&nbsp;</td>
</tr>
<tr><td>1</td>
<td>HST paid on purchases (included)</td>
<td>13.00</td>
</tr>
<tr><td>2</td>
<td>HST paid on meals (included)</td>
<td>6.50</td>
</tr>
<tr><td>3</td>
<td>GST paid on purchases (included)</td>
<td>5.00</td>
</tr>
<tr><td>4</td>
<td>GST paid on meals (included)</td>
<td>2.50</td>
</tr>
<tr><td>11</td>
<td>HST paid on purchases (tax entry only)</td>
<td>&nbsp;</td>
</tr>
<tr><td>12</td>
<td>GST paid on purchases (tax entry only)</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Total HST/GST paid on purchases</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Total HST/GST (payable) or recoverable</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Final total for control </td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>GST & QST Charged</td>
<td>&nbsp;</td>
</tr>
<tr><td>9</td>
<td>GST & QST charged on sales (included)</td>
<td>14.98</td>
</tr>
<tr><td>19</td>
<td>GST & QST charged on sales (tax entry only)</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Total GST/QST charged on sales</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Total GST/QST Charged</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>GST & QST Paid</td>
<td>&nbsp;</td>
</tr>
<tr><td>5</td>
<td>GST & QST paid on purchases (included)</td>
<td>14.98</td>
</tr>
<tr><td>6</td>
<td>GST & QST paid on meals (included)</td>
<td>7.49</td>
</tr>
<tr><td>15</td>
<td>GST & QST paid on purchases (tax entry only)</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Total GST & QST paid on purchases</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Total GST & QST (payable) or recoverable</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Final total for control </td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
